<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871460089461-iha45bsa4gcti5q7qcsr77jo61nn8b8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871460089461-iha45bsa4gcti5q7qcsr77jo61nn8b8m</string>
	<key>API_KEY</key>
	<string>AIzaSyCBWzurUbIsIlgmqVhPhBSX68iI11oIs-U</string>
	<key>GCM_SENDER_ID</key>
	<string>871460089461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.libAppdevAssignment</string>
	<key>PROJECT_ID</key>
	<string>lib-appdev-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>lib-appdev-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871460089461:ios:0975f3fdcc167fc55b123c</string>
</dict>
</plist>